*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 950px;
    width: 100%;
}

main{
    width: 100%;
}


.gauche{
    background: #ce0033;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droite{
    background-image: url('../img/background.jpg');
}

h2{
    text-align: center;
}

input{
    background-color: #eedfdf;
}

a{
    text-decoration: none;
    color: black;
    opacity: 50%;
    font-size: 1.3rem;
    text-align: center;
}


.bouton{
    padding: 12px; border-radius: 30px; border: none; background-color: #ce0033; color: #fff;
}













/* Mobile Styles */
@media only screen and (max-width: 400px) {

    body{
        width: 100%;
    }
    .gauche{
        display: none;
    }
}